body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1ede7;
    text-align: center;
    margin: 0;
    padding-bottom: 20vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for main content */
h1{
    color: #333;
    text-align: center;
    font-size: 2.5rem;
}

/* Addtional styles for presentation */
#legend {
    margin: 20px auto;
    padding: 30px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
}

canvas {
    display: block;
    margin: auto;
    border: 3px solid black;
}

html{
    scroll-behavior: smooth;
}